 
:root {
  --dark-square: #707a7b;
  --light-square: #808b8c;
  --background: var(--light-square);
  --dark-piece: #345;
  --light-piece: #d8d8cc;

  --square-size: min(4rem, 10vw);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--background);
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: var(--square-size);
}

.Log {
  margin-top: var(--square-size);
  font-size: 1rem;
}

.row {
  font-size: var(--square-size);
  height: 1em;
  display: flex;
}

span {
  display: inline-block;
  text-align: center;
  grid-area: 1/1;
}

.square {
  cursor: default;
  display: grid;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

.dark {
  background-color: var(--dark-square);
}

.light {
  background-color: var(--light-square);
}

.clickable {
  cursor: pointer;
}

.piece {
  width: 1em;
  height: 1em;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4px;
  box-sizing: border-box;
}