@media (prefers-color-scheme: dark) {
  :root {
    --dark-square: #707a7b;
    --light-square: #808b8c;
    --background: var(--light-square);
    --dark-piece: #345;
    --light-piece: #d8d8cc;

    --label: #a2b1b3;
    --invalid: rgb(170, 118, 118);
    --complete: rgb(110, 156, 117);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --dark-square: #a0aaab;
    --light-square: #b0bbbc;
    --background: var(--light-square);
    --dark-piece: #345;
    --light-piece: #f8f8ec;

    --label: #808a8b;
    --invalid: rgb(255, 180, 180);
    --complete: rgb(180, 255, 193);
  }
}

:root {
  --square-size: min(min(8rem, 10vw), 9vh);
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--background);
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: var(--square-size);
  flex-direction: column;
}

.log {
  padding-block: calc(var(--square-size) / 4);
  padding-inline: calc(var(--square-size) / 8);
  font-size: 1rem;
  flex-grow: 1;
  overflow-y: scroll;
  width: calc(var(--square-size) * 8);
}

.row {
  font-size: var(--square-size);
  height: 1em;
  display: flex;
}

.square {
  cursor: default;
  display: grid;

  width: var(--square-size);
  height: var(--square-size);
}

.square.dark {
  background-color: var(--dark-square);
}

.square.light {
  background-color: var(--light-square);
}

.square > * {
  grid-area: 1/1;
}

.square .piece {
  width: var(--square-size);
  height: var(--square-size);

  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;

  padding: 10px;
}

.square .square-hint {
  font-size: calc(var(--square-size) * 0.3);
  font-family: monospace;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.square .square-hint span {
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);
  color: var(--light-piece);
}

.square.file-label {
  line-height: calc(var(--square-size) * 0.5);
  font-size: calc(var(--square-size) * 0.4);
  color: var(--label);
  text-align: center;
}
.square.rank-label {
  width: calc(var(--square-size) * 0.5);
  font-size: calc(var(--square-size) * 0.4);
  color: var(--label);
  text-align: center;
}

.clickable {
  cursor: pointer;
}

/***********************************/

.input {
  font-size: calc(var(--square-size) / 2);
  margin-top: calc(var(--square-size) / 4);
}

.complete-input {
  background-color: var(--complete);
}

.invalid-input {
  background-color: var(--invalid);
}
